

<footer class="footer"> 
    <a href="http://instagram.com/_u/official_katunz_jr/" class="fa fa-instagram"> katunz_JR </a> ::
    <a href="https://wa.me/255656631106?text=I'm%20interested%20in%20the%20system%20you%20made%20katunzjr" class="fa fa-whatsapp"> +255 656 631 106 </a> :: &copy;2022
    

    <!-- Back to top-->
    <style>
        #btn-back-to-top { position: fixed; bottom: 20px; right: 20px; display: none; }
    </style> 
    <button type="button" class="btn btn-info text-white waves-effect waves-light" id="btn-back-to-top">
        <i class="fa fa-arrow-up"></i>
    </button>
    <script>
        //Get the button
        var mybutton = document.getElementById("btn-back-to-top");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function scrollFunction(){
            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
            mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        };
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        });
    </script>
</footer>