{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<title> PMS </title>

<!--  PLUGINS CSS -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">

<!-- CUSTOM -->
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/headIcon.png' %}">
<link href="{% static 'css/pages/extra.css' %}" rel="stylesheet">
<link href="{% static 'css/colors/default-dark.css' %}" id="theme" rel="stylesheet">