/*******************************************
  This is for responsive dashboard element
********************************************/

@media (max-width: 1023px) {
  .r-aside{ padding-right:30px; }
  .right-side-panel{ display:none; } 
}

@media (max-width: 1170px) {
  .navbar-header span{ display:none; }
}

.row .col-12 .card.myCard{ height:calc(100vh - 160px);}
.chat-list{ height:calc(100vh - 350px); overflow-y: scroll; }

.chat-list .chat-item.even{ width:100%; list-style:none; margin-top:20px; }
.chat-list .chat-item.even .chat-content{ width:calc(100% - 80px); display:inline-block; }
.chat-list .chat-item.even .chat-content .box{ display:inline-block; padding:10px; margin-bottom:3px; color:#282d31; background:#e4e4e4 }
.chat-list .chat-item.even .chat-time{ display:block; font-size:10px; color:#4f5467; }

.chat-list .chat-item.odd{ width:100%; list-style:none; margin-top:20px; float:right; }
.chat-list .chat-item.odd .chat-img{ float:right; width:45px; margin:5px; }
.chat-list .chat-item.odd .chat-img img{ width:45px; border-radius:40% }
.chat-list .chat-item.odd .chat-content{ display:inline-block; text-align:right; width:calc(100% - 80px); margin-left:20px;}
.chat-list .chat-item.odd .chat-content h6{ text-align:right; }
.chat-list .chat-item.odd .chat-content .box{ display:inline-block; padding:10px; margin-bottom:3px; clear:both; color:#fff; background:#27a9e3 }
.chat-list .chat-item.odd .chat-time{ display:block; font-size:10px; color:#4f5467; float:right; }

.chat-list::-webkit-scrollbar{ width:5px; }
.chat-list::-webkit-scrollbar-track{ background:#f1f1f1; }
.chat-list::-webkit-scrollbar-thumb{ background:#aaa; }
.chat-list::-webkit-scrollbar-thumb:hover{ background:#666666; }
.chat-list::-webkit-scrollbar-corner{ background:#f1f1f1; }
