<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    {% include 'advanced/parts/head.html' %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> MU-BOT </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">

        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'advanced/parts/topbar.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
         
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'advanced/parts/leftbar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="fa fa-tachometer"></i> Dashboard </h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                

                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->
                
                <div class="row">
                    <!-- Column -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-hover">
                            <a href="feed_data" class="box bg-primary text-center waves-effect waves-dark">
                                <h1 class="text-white">
                                    <i class="fa fa-braille"></i>
                                </h1>
                                <h6 class="text-white"> Qns Trainigs </h6>
                            </a>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-hover">
                            <a href="feed_docs" class="box bg-primary text-center waves-effect waves-dark">
                                <h1 class="text-white">
                                    <i class="fa fa-braille"></i>
                                </h1>
                                <h6 class="text-white"> Doc Trainings </h6>
                            </a>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-hover">
                            <a href="feedbacks" class="box bg-primary text-center waves-effect waves-dark">
                                <h1 class="text-white">
                                    {{ feedback_values|length }} <i class="fa fa-commenting"></i>
                                </h1>
                                <h6 class="text-white"> User feedbacks </h6>
                            </a>
                        </div>
                    </div>
                    <!-- Column -->
                    
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-hover">
                            <a href="#user-trand" class="smoothScroll box bg-success text-center">
                                <h1 class="text-white">
                                    <i class="fa fa-line-chart"></i>
                                </h1>
                                <h6 class="text-white"> Reports </h6>
                            </a>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-hover">
                            <a href="theme" class="box bg-info text-center waves-effect waves-dark">
                                <h1 class="text-white">
                                    <i class="fa fa-themeisle"></i>
                                </h1>
                                <h6 class="text-white"> Theme </h6>
                            </a>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card card-hover">
                            <div class="box btn bg-success text-center waves-effect waves-dark" data-bs-toggle="modal" data-bs-target="#help">
                                <h1 class="text-white">
                                    <i class="fa fa-question"></i>
                                </h1>
                                <h6 class="text-white"> Help.? </h6>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Vertically centered modal 2 -->
                    <div class="modal fade" id="help" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-bold" id="exampleModalLabel">Need help?? Here we go ...</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Get full documentation manual. This helps you understand how the system works. OR Have a
                                    meeting with your siniar for your needs.
                                </div>
                                <div class="modal-footer">
                                    <a href="../assets/GUIDE_DOCUMENTATION.pdf" download target="_blank" class="btn btn-primary waves-effect waves-light"> 
                                        <i class="mdi mdi-download"></i> Download now 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                
                <div id="user-trand"></div> <!-- escaping nav-bar hiding the graph title -->
                <div class="dropdown-divider mb-5"></div>

                <!-- ============================================================== -->
                <!-- Charts -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- Sales Trand Graph -->
                    <!-- ============================================================== -->
                    <div class="col-lg-7">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h4 class="h5"><span class="lstick"></span> User visit trend </h4>
                                </div>
                                <div>
                                    <canvas id="myChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- Top sales -->
                    <!-- ============================================================== -->
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="h5"><span class="lstick"></span> Top last user feedbacks</h4>
                            </div>
                            <div class="comment-widgets scrollable">

                                <!-- Comment Row -->
                                {% for instance in feedback_values|slice:'3' %}
                                <div class="d-flex flex-row comment-row shadow-sm">
                                    <div class="p-2">
                                        <img src="" width="50" class="rounded-circle"/>
                                    </div>
                                    <div class="comment-text w-100">
                                        <h6 class="h5"> {{ instance.visitor_name }} </h6>
                                        <span class="mb-3 d-block">
                                            {{ instance.message }}
                                        </span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-end comment-time"> {{ instance.date }} </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Charts -->
                <!-- ============================================================== -->
            </div>
            
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'advanced/parts/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    <!-- PLUGINS JS -->
    {% include 'advanced/parts/scripts.html' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        var ctx = document.getElementById("myChart").getContext("2d");

        // var gradient = ctx.crateLinearGradient(0, 0, 0, 400);
        // gradient.addColorStop(0, "rgba(58, 123, 213, 1)");
        // gradient.addColorStop(1, "rgba(0, 213, 255, 0.3)");
        var labels = {{ visit_date|safe }};

        var data = {
        labels,
        datasets: [{
            label: 'User visit count',
            data: {{ visit_trend|safe }},
            fill: true,
            borderColor: 'rgb(13, 110, 253, .6)',
            backgroundColor: 'rgb(13, 110, 253, 0.1)',
            pointBackgroundColor: 'rgb(0, 0, 0, 0.5)',
            tension: 0.3
        }]
        };

        var config = {
            type: 'line',
            data,
            options: {
                responsive: true,
                radius: 3,
                hitRadius: 5,
                hoverRadius: 7,
                plugins: {
                    legend: {
                        display: false // hide legend label
                    }
                },
                scales: {
                    y: {
                        min: 0,
                        ticks: {
                            precision: 0
                        }
                    }
                }
            }
        };

        var theChart = new Chart(ctx, config);
    </script>
</body>

</html>