<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <link rel="stylesheet" href="{% static 'helpdesk/style.css' %}">
    {% include 'advanced/parts/head.html' %}
    <style>
        #myBar {
          width: 1%;
          height: 40px;
          background-color: #04AA6D;
          text-align: center;
          line-height: 40px;
          color: white;
        }
    </style>
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> MU-BOT </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'advanced/parts/topbar.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
         
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'advanced/parts/leftbar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="fa fa-comment"></i> Feed data </h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="card">
                        <form class="form-horizontal" method="POST" action="crud">
                            {% csrf_token %}
                            <div class="card-body">
                                <h4 class="h5"> Add new Category, Questions and ansers </h4>

                                <div class="form-group row">
                                    <label for="tag" class="col-md-3 text-end control-label col-form-label"> Tag: </label>
                                    <div class="col-md-7">
                                        <input list="tags" class="form-control" name="tag" id="tag">
                                        <datalist id="tags">
                                            {% for intent in data %}
                                            <option value="{{ intent.tag }}">
                                            {% endfor %}
                                        </datalist>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="qn" class="col-md-3 text-end control-label col-form-label"> Keyward pattern: </label>
                                    <div class="col-md-7">
                                        <textarea id="qn" name="pattern" class="form-control" placeholder="Question here" required></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label for="ans" class="col-md-3 text-end control-label col-form-label"> Response: </label>
                                    <div class="col-md-7">
                                        <textarea id="ans" name="response" class="form-control" placeholder="Answer here" required></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" name="del_intent" class="btn btn-danger"> Delete </button>
                                    <button type="submit" name="add_intent" class="btn btn-primary"> Add </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="card">
                        <div class="row py-4">
                            <div class="col-md-2">
                                <a href="train" class="btn btn-success px-5" onclick="move()">Train</a>
                            </div>
                            <div class="col-md-10 " style="background-color:#ddd;">
                                <div id="myBar">10%</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <form class="form-horizontal">
                            <div class="card-body">
                                <h4 class="h5"> Data </h4>
                            </div>
                            
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                {% for intent in data %}
                                <div class="accordion-item">
                                    <form action="crud" method="POST">
                                        <!-- <button type="submit" class="float-end btn btn-success" name="edt_intent">save</button> -->

                                        {% csrf_token %}
                                        <h2 class="accordion-header" id="flush-heading{{ intent.tag }}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ intent.tag }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                                <input type="text" value="{{ intent.tag }}" name="edt_tag" style="border:none" ondblclick="this.readOnly='';" readonly>
                                            </button>
                                        </h2>
                                        <div id="flush-collapse{{ intent.tag }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ intent.tag }}" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <!-- <button type="submit" class="float-end btn btn-danger mx-1" name="del_intent">delete</button>
                                                <button type="submit" class="float-end btn btn-success" name="edt_intent">save</button> -->
                                                
                                                <div class="accordion container" id="accordionExample">
                                             
                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="sub-headingOne{{ intent.tag }}">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapseOne{{ intent.tag }}" aria-expanded="true" aria-controls="sub-collapseOne{{ intent.tag }}">
                                                                Pattern
                                                            </button>
                                                        </h2>
                                                        <div id="sub-collapseOne{{ intent.tag }}" class="accordion-collapse collapse show" aria-labelledby="sub-headingOne{{ intent.tag }}" data-bs-parent="#accordionExample">
                                                            {% for pattern in intent.patterns %}
                                                            <div class="accordion-body">
                                                                <textarea name="edt_pattern" class="form-control" style="border:none; width:90%" ondblclick="this.readOnly='';" readonly required>{{ pattern }}</textarea>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>

                                                    <div class="accordion-item">
                                                        <h2 class="accordion-header" id="sub-headingTwo{{ intent.tag }}">
                                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#sub-collapseTwo{{ intent.tag }}" aria-expanded="true" aria-controls="sub-collapseTwo{{ intent.tag }}">
                                                                Response
                                                            </button>
                                                        </h2>
                                                        <div id="sub-collapseTwo{{ intent.tag }}" class="accordion-collapse collapse show" aria-labelledby="sub-headingTwo{{ intent.tag }}" data-bs-parent="#accordionExample">
                                                            {% for response in intent.responses %}
                                                            <div class="accordion-body">
                                                                <textarea name="edt_response" class="form-control" style="border:none; width:90%" ondblclick="this.readOnly='';" readonly required>{{ response }}</textarea>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% endfor %}
                            </div>

                        </form>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                    
            </div>
            <div style="position:fixed; bottom:0; right:15px;">
                {% include 'advanced/parts/chatbot.html' %}
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    
    <!-- PLUGINS JS -->
    {% include 'advanced/parts/scripts.html' %}
    <script type="text/javascript" src="{% static 'helpdesk/app.js' %}"></script>

</body>

<script>
    var i = 0;
    function move() {
      if (i == 0) {
        i = 1;
        var elem = document.getElementById("myBar");
        var width = 1;
        var id = setInterval(frame, 500);
        function frame() {
          if (width >= 98) {
            clearInterval(id);
            i = 0;
          } else {
            width++;
            elem.style.width = width + "%";
            elem.innerHTML = width  + "%";
          }
        }
      }
    }
    </script>
</html>