<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'advanced/parts/head.html' %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> MU-BOT </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'advanced/parts/topbar.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
         
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {% include 'advanced/parts/leftbar.html' %}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor"> <i class="fa fa-comment"></i> User feedbacks </h3>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- Contents -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title"><span class="lstick"></span> Top last user feedbacks</h4>
                            </div>
                            <div class="comment-widgets scrollable">

                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row mt-0 shadow-sm">
                                    <div class="p-2">
                                        <img src="../media/users/me.jpg" width="50" class="rounded-circle"/>
                                    </div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Jamali Ander</h6>
                                        <span class="mb-3 d-block">
                                            The bot seems to user perfect today.
                                        </span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-end comment-time">May 14, 2021</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row shadow-sm">
                                    <div class="p-2">
                                        <img src="../media/users/me.jpg" width="50" class="rounded-circle"/>
                                    </div>
                                    <div class="comment-text active w-100">
                                        <h6 class="font-medium">Michael Jorden</h6>
                                        <span class="mb-3 d-block">
                                            I love the bot interaction with me..
                                        </span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-end comment-time">May 10, 2021</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row shadow-sm">
                                    <div class="p-2">
                                        <img src="../media/users/me.jpg" width="50" class="rounded-circle"/>
                                    </div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Linus Jas</h6>
                                        <span class="mb-3 d-block">
                                            The response is delaying sometimes. And why not answering about program and cources offered
                                            in the university.
                                        </span>
                                        <div class="comment-footer">
                                            <span class="text-muted float-end comment-time">April 1, 2021</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Contents -->
                <!-- ============================================================== -->
                    
            </div>

            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'advanced/parts/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    
    
    <!-- PLUGINS JS -->
    {% include 'advanced/parts/scripts.html' %}

</body>

</html>