<div class="chatbox">
    <div class="chatbox__support">
        <div class="chatbox__header">
            <div class="chatbox__image--header">
                <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
            </div>
            <div class="chatbox__content--header">
                <h4 class="chatbox__heading--header">Chat support</h4>
                <p class="chatbox__description--header">MU-Bot</p>
            </div>
        </div>
        <div class="chatbox__messages">
            <div></div>
        </div>
        <div class="chatbox__footer">
            <input type="text" placeholder="Write a message...">
            <button class="chatbox__send--footer send__button">Send</button>
        </div>
    </div>
    <div class="chatbox__button">
        <button style="color: #398bf7;"> <i class="fa fa-comments fa-3x" aria-hidden="true" style="color: #398bf7;"></i> </button>
    </div>
</div>